- if tasks.empty?
  %span.text-warning There is no task here!
- else
  %table.table.table-hover.table-bordered
    %thead
      %th Title
      %th created at
      %th completed
    %tbody
      - tasks.each do |task|
        %tr
          %td
            %strong= task.title
          %td.text-info= task.created_at
          %td.text-success= task.completed
          %td
            =link_to task_path(task), remote: true,
                                      method: :delete,
                                      data: {confirm: "Are you sure you want to delete task #{task.title}?"} do
              %i.icon-remove
            =link_to edit_task_path(task), remote: true do
              %i.icon-edit